<p style="color: green"><%= notice %></p>

<%= render @trade %>

<div>
  <%= link_to "Edit this trade", edit_group_trade_path(@trade) %> |
  <%= link_to "Back to trades", group_trades_path %>

  <%= button_to "Destroy this trade", group_trade_path(id: @trade.id), method: :delete %>
</div>
